<!DOCTYPE html>
<html>
<head>
    <title>Salon samochodowy</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Salon samochodowy</h1>
    <table>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Silnik</th>
            <th>Skrzynia biegów</th>
            <th>Drzwi</th>
            <th>Rok</th>
            <th>Napęd</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.marka }}</td>
                <td>{{ article.model }}</td>
                <td>{{ article.silnik }}</td>
                <td>{{ article.skrzynia_biegów }}</td>
                <td>{{ article.drzwi }}</td>
                <td>{{ article.rok }}</td>
                <td>{{ article.get_naped_display }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>